html,
body,
section{
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-size: x-large;
}

.resultSearch,
.oneResult,
.loaderForm{
    display: none;
}

button img{
    width: 5%;
    margin-left: 10px;
    vertical-align: bottom;
}
/* FormSearch */

.formSearch{
    text-align: center;
}

form{
    width: 95%;
    margin: auto;
}

label{
    display: block;
    text-align: left;
    margin: 10px 0;
}

input{
    width: 100%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #FF5A5F;
    background: transparent;
    font-size: x-large;
}

input[type=submit]{

    background: #FF5A5F;
    color: white;
    margin-top: 40px;
}

.inputForm{
    margin: 10px 0;
}

.errorForm{
    margin-top: 20px;
    color: red;
}

/* ResultSearch */

.loader{
    text-align: center;
    margin-top: 50px;
}

.resultSearch h1{
    margin: 0 0 10px 0;
    text-align: center;
    color: white;
    background: #FF5A5F;
}

.seeFormSearch{

    width: 100%;
    background: #FF5A5F;
    border: 1px solid #FF5A5F;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.seeFormSearch img{
    width: 7%;
}

.item{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border : 1px solid #FF5A5F;
}

.itemTitle{
    text-align: center;
    color: #FF5A5F;
    font-size: 17px;
    padding: 10px;

}

.itemPicture img{
    width: 100%;
}

.navigation{
    position: fixed;
    bottom: 0;
}

.navigation button{
    width: 50%;
    padding: 10px;
}

.navigation button img{
    width: 10%;
}

.showSearch{
    background: #FF5A5F;
    font-size: large;
    border: 1px solid #FF5A5F;
}

.showList{
    background: #c1262b;
    font-size: large;    
    border: 1px solid #c1262b;
}

.addCalendar{
    background: #1bbaeb;
    font-size: large;
}

.share{
    background: #1C9DE4;
    font-size: large;
}

button .text{
    font-size: x-large;
}

.actionOneResult{

    padding-top: 20px;
}

.addCalendar{
    background: #1bbaeb;
    font-size: large;
    margin: 20px 15%;
    border-radius: 5px;
    border: 1px solid #1692b8;
    color: white;
    padding: 10px;
}

.addCalendar img,
.shareEvent img{
    width: 10%;
    margin-right: 10px;
    vertical-align: bottom;
}

.shareEvent{
    background: #1b8aeb;
    font-size: large;
    margin: 20px 15%;
    border-radius: 5px;
    border: 1px solid #0b5493;
    color: white;
    padding: 10px;
}

.success{
    color: green;
    display: none;
}

.error{
    color: red;
    display: none;
}

.loaderAction{
    text-align: center;
}

.loaderAction img{
    width: 10%;
    display: none;
}

.titleDate{
    display: inline-block;
    width: 20%;
}

.inputDate{
    display: inline-block;
    width: 70%;
}